In [1]:
import pandas as pd

In [2]:
dataset  = [["Milk", "Bread", "Wheat Bread"], ["Jam", "Bread", "Butter"], ["Milk", "Jam", "Bread", "Butter"], ["Jam", "Butter"]]

In [3]:
dataset

[['Milk', 'Bread', 'Wheat Bread'],
 ['Jam', 'Bread', 'Butter'],
 ['Milk', 'Jam', 'Bread', 'Butter'],
 ['Jam', 'Butter']]

In [4]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\vc_19\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (0.22.1)
Requirement already satisfied: setuptools in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (45.2.0.post20200210)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\vc_19\anaconda3\lib\site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vc_19\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\vc_19\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vc_19\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\vc_19\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in c:\users\vc_19\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six in c:\users\vc_19\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()

In [7]:
te_ary = te.fit(dataset).transform(dataset)

In [8]:
df = pd.DataFrame(te_ary,columns=te.columns_)

In [9]:
print(df)

   Bread  Butter    Jam   Milk  Wheat Bread
0   True   False  False   True         True
1   True    True   True  False        False
2   True    True   True   True        False
3  False    True   True  False        False

In [10]:
from mlxtend.frequent_patterns import apriori

In [11]:
apriori(df,min_support = 0.1)

    support      itemsets
0      0.75           (0)
1      0.75           (1)
2      0.75           (2)
3      0.50           (3)
4      0.25           (4)
5      0.50        (0, 1)
6      0.50        (0, 2)
7      0.50        (0, 3)
8      0.25        (0, 4)
9      0.75        (1, 2)
10     0.25        (1, 3)
11     0.25        (2, 3)
12     0.25        (3, 4)
13     0.50     (0, 1, 2)
14     0.25     (0, 1, 3)
15     0.25     (0, 2, 3)
16     0.25     (0, 3, 4)
17     0.25     (1, 2, 3)
18     0.25  (0, 1, 2, 3)

In [12]:
apriori(df, min_support=0.1, use_colnames=True)

    support                    itemsets
0      0.75                     (Bread)
1      0.75                    (Butter)
2      0.75                       (Jam)
3      0.50                      (Milk)
4      0.25               (Wheat Bread)
5      0.50             (Butter, Bread)
6      0.50                (Jam, Bread)
7      0.50               (Milk, Bread)
8      0.25        (Wheat Bread, Bread)
9      0.75               (Butter, Jam)
10     0.25              (Butter, Milk)
11     0.25                 (Milk, Jam)
12     0.25         (Wheat Bread, Milk)
13     0.50        (Butter, Jam, Bread)
14     0.25       (Butter, Milk, Bread)
15     0.25          (Milk, Jam, Bread)
16     0.25  (Wheat Bread, Milk, Bread)
17     0.25         (Butter, Milk, Jam)
18     0.25  (Butter, Milk, Jam, Bread)

In [13]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets['lenght'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))

In [14]:
frequent_itemsets

    support                    itemsets  lenght
0      0.75                     (Bread)       1
1      0.75                    (Butter)       1
2      0.75                       (Jam)       1
3      0.50                      (Milk)       1
4      0.25               (Wheat Bread)       1
5      0.50             (Butter, Bread)       2
6      0.50                (Jam, Bread)       2
7      0.50               (Milk, Bread)       2
8      0.25        (Wheat Bread, Bread)       2
9      0.75               (Butter, Jam)       2
10     0.25              (Butter, Milk)       2
11     0.25                 (Milk, Jam)       2
12     0.25         (Wheat Bread, Milk)       2
13     0.50        (Butter, Jam, Bread)       3
14     0.25       (Butter, Milk, Bread)       3
15     0.25          (Milk, Jam, Bread)       3
16     0.25  (Wheat Bread, Milk, Bread)       3
17     0.25         (Butter, Milk, Jam)       3
18     0.25  (Butter, Milk, Jam, Bread)       4

In [15]:
frequent_itemsets[(frequent_itemsets['lenght']==3)&(frequent_itemsets['support']>=0.5)]

    support              itemsets  lenght
13      0.5  (Butter, Jam, Bread)       3

In [16]:
frequent_itemsets[(frequent_itemsets['lenght']==2)]

    support              itemsets  lenght
5      0.50       (Butter, Bread)       2
6      0.50          (Jam, Bread)       2
7      0.50         (Milk, Bread)       2
8      0.25  (Wheat Bread, Bread)       2
9      0.75         (Butter, Jam)       2
10     0.25        (Butter, Milk)       2
11     0.25           (Milk, Jam)       2
12     0.25   (Wheat Bread, Milk)       2

In [17]:
frequent_itemsets[(frequent_itemsets['support']>=0.65)]

   support       itemsets  lenght
0     0.75        (Bread)       1
1     0.75       (Butter)       1
2     0.75          (Jam)       1
9     0.75  (Butter, Jam)       2